<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TWCitySelectView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E610DC11D251EDB007E8CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E610DDA1D251EDB007E8CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E610DE51D251EDB007E8CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
